<form action="/" method="POST">
  <div class="container mt-3 text-center">
    <input type="url" name="url" placeholder="Input URL here" required />
    <button class="shorten" type="submit">Shorten</button>
  </div>
</form>